# Ignore all files

*

# Unignore common source files

!*.h
!*.cc
!*.c
!*.asm

# Unignore common image files

!*.bmp
!*.jpg
!*.png

# Unignore sounds

!*.wav
!*.mp3
!*.ogg

# Unignore other

!CMakeLists.txt
!*.md
!LICENSE
